---
import { Image } from "astro:assets";

interface Props {
    href: string;
    label: string;
    icon: ImageMetadata;
    iconLoading?: "eager" | "lazy";
    external?: boolean;
}

const { href, label, icon, iconLoading, external } = Astro.props;
---

<a
    class="inline-block border-2 border-white px-2 py-1 hover:border-sky-500 transition-colors"
    href={href}
    {...external && { target: "_blank", rel: "noopener noreferrer" }}
>
    <Image
        class="inline-block invert-100 align-middle"
        src={icon}
        alt={label}
        loading={iconLoading}
    />
    <span class="align-middle inline-block ml-1">{label}</span>
</a>
