---
import { Image } from "astro:assets";

import { type Project } from "@/types/Project";

import ProjectLink from "./ProjectLink.astro";
import ProjectTag from "./ProjectTag.astro";
import TraslucentContainer from "../containers/TraslucentContainer.astro";
import type { Lang } from "@/i18n/utils";

interface Props extends Project {
    lang: Lang;
}

const { title, description, image, tags, links, lang } = Astro.props;
---

<TraslucentContainer>
    <div class="flex flex-col h-full items-stretch justify-start space-y-3 p-4">
        <a
            href={image.src}
            data-pswp-width={image.width}
            data-pswp-height={image.height}
            target="_blank"
        >
            <Image
                class="w-full object-contain aspect-video"
                src={image}
                alt={title}
                loading="lazy"
            />
        </a>
        <span class="font-medium text-gray-800 tracking-wide dark:text-white"
            >{title}</span
        >
        <p class="prose dark:prose-invert">{description[lang]}</p>
        <div class="mt-auto gap-3 flex flex-wrap">
            {tags.map((tag) => <ProjectTag name={tag} />)}
        </div>
        <div class="space-x-3 text-right">
            {
                links.map((link) => (
                    <ProjectLink type={link.type} href={link.href} />
                ))
            }
        </div>
    </div>
</TraslucentContainer>
