---
import { PROJECTS } from "../../constants/projects";
import ProjectCard from "./ProjectCard.astro";
import "photoswipe/style.css";
---

<div class="grid grid-flow-row-dense md:grid-cols-3 gap-4" id="gallery">
    {
        PROJECTS.map((project) => (
            <ProjectCard
                title={project.title}
                description={project.description}
                image={project.image}
                tags={project.tags}
                links={project.links}
            />
        ))
    }
</div>

<script>
    import PhotoSwipeLightbox from "photoswipe/lightbox";

    const lightbox = new PhotoSwipeLightbox({
        gallery: "#gallery",
        children: "a[data-pswp-width][data-pswp-height]",
        pswpModule: () => import("photoswipe"),
    });

    lightbox.init();
</script>
