---
import { Image } from "astro:assets";
import TraslucentContainer from "../containers/TraslucentContainer.astro";
import type { Technology } from "@/types/Technology";

interface Props extends Technology {}

const { name, image, darkImage } = Astro.props;
---

<TraslucentContainer>
    <div
        class="flex flex-col items-center justify-center space-y-3 py-4 transition duration-300 hover:scale-110"
    >
        <Image
            class=`size-16 object-contain ${darkImage ? "dark:hidden" : ""}`
            src={image}
            alt={name}
            width={64}
            height={64}
            loading="lazy"
        />
        {
            darkImage && (
                <Image
                    class="size-16 object-contain hidden dark:block"
                    src={darkImage}
                    alt={name}
                    width={64}
                    height={64}
                    loading="lazy"
                />
            )
        }

        <span
            class="font-extralight text-gray-800 tracking-wide dark:text-white"
            >{name}</span
        >
    </div>
</TraslucentContainer>
